@model AlfaAccounting.Models.Invoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Companyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Companyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceIssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceIssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivableRemainingAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivableRemainingAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivableDepoisitAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivableDepoisitAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayableAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayableAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayableDepositAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayableDepositAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
