@using AlfaAccounting.Models
@model MyBookingCancellation
@{
    ViewBag.Title = "CancelBooking";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<Section class="content content_content" style="width: 100%; margin: auto;">
    <Section style="position: relative;background: #fff;border: 1px solid #f4f4f4;padding: 20px;margin: 10px 25px;">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 style="margin: 10px 0 20px 0;font-size: 22px;">
                    <i class="fa fa-globe"></i> booking cancellation confirmation
                    <small class="pull-right">Payment Date Time: @Html.DisplayFor(model => model.BookedDate)</small>
                </h2>
            </div><!-- /.col -->
        </div>
        <!-- infor row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Paid to
                <address>
                    <strong>
                        Alfa Accounting <br />
                        1 Glasgow Street<br />
                        Glasgow <br />
                        G1<br />
                        01412223333<br />
                    </strong>


                </address>
            </div><!-- /.col -->

            <div class="col-sm-4 invoice-col">
                Paid by:
                @foreach (var item in Model.Payments)
                {                 <address>
                <strong>
                    @Html.DisplayFor(model => model.ApplicationUser.Companyname)
                </strong>
                <br />
                Address:
                <br />

                @Html.DisplayFor(model => model.ApplicationUser.Street)<br />
                @Html.DisplayFor(model => model.ApplicationUser.Town)<br />
                @Html.DisplayFor(model => model.ApplicationUser.Postcode)<br />
                Phone: @Html.DisplayFor(model => model.ApplicationUser.PhoneNumber)<br />

                Email:@Html.DisplayFor(model => model.ApplicationUser.Postcode)<br />
            </address>}
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
                @*<b>Invoice Id:</b>@Html.DisplayFor(model => model.InvoiceId)<br />*@
                <b>Booking Id:</b>@Html.DisplayFor(model => model.BookingId)<br />
                @*<b>Payment Id:</b>@Html.DisplayFor(model => model.PaymentId)<br />*@

            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Booking Description</th>&nbsp;
                            <th>Unit Price</th>&nbsp;
                            <th>Booking Deposit</th>
                            <th>Subtotal</th>&nbsp;
                            <th>Invoice Id</th>
                            <th>Invoice Issue Date</th>
                            <th>Deposit paid</th>
                            <th>Remaining paid</th>
                            <th>CancellationFee</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>@Model.ItemDescription</td>&nbsp;
                            <td>@Model.UnitPriceValue</td>&nbsp;
                            <td>@Model.BookingDeposit</td>
                            <td>@Model.Subtotal</td>&nbsp;
                            <td>@Model.Invoice.InvoiceId</td>
                            <td>@Model.Invoice.InvoiceIssueDate</td>
                            <td>@Model.Invoice.ReceivableDepositAmount</td>
                            <td>@Model.Invoice.ReceivableRemainingAmount</td>
                            <td>@Model.BookingCancellationFee</td>

                            @*@{foreach (Invoice inv in Model.Invoices)  b-i many to many
                                {
                                    <td>@inv.InvoiceId</td>
                                    <td>@inv.InvoiceIssueDate</td>
                                    <td>@inv.ReceivableDepositAmount</td>
                                    <td>@inv.ReceivableRemainingAmount</td>
                                }
                                }*@
                        </tr>

                    </tbody>
                </table>
            </div>@*col-xs-12 table responsive*@
        </div>@*Div class row*@
        <br />
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>PaymentId</th>&nbsp;
                            <th>Payment Date and time</th>&nbsp;
                            <th>Paid amount</th>&nbsp;
                            <th>Refunded amount</th>
                            <th>Payment type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{foreach (Payment p in Model.Payments)
                            {
                                <tr>
                                    <td>@p.PaymentId</td>&nbsp;
                                    <td>@p.PaymentDateTime</td>&nbsp;
                                    <td>@(p.CreditDepositAmount)</td>
                                    <td>@(p.DebitDepositAmount)</td>&nbsp;
                                    <td>@p.PaymentType</td>
                                </tr>
                            } }
                    </tbody>
                </table>
            </div>@*col-xs-12 table responsive*@
        </div>@*Div class row*@


        @if (Model.BookingCancellationFee != 0)
        {
            <div class="row">
                <div class="form-group">
                    <div class="control-label  col-sm-3">
                        <b>Cancellation Fee:</b>
                    </div>
                    <div class="col-sm-9">
                        <b>@(Model.BookingCancellationFee.ToString("C2"))</b>
                    </div>
                </div>
            </div>

            <hr />
        }
        @*        @if (Model.CreditAmount != 0)
                {
                    <div class="row">
                        <div class="form-group">
                            <div class="control-label  col-sm-3">
                                Paid:
                            </div>
                            <div class="col-sm-9">
                                @ViewBag.TotalCredit.ToString("C2")
                            </div>
                        </div>
                    </div>
                }
                    <div class="row">

                <div class="form-group">
                    <div class="col-sm-3">
                        Deposit paid:
                    </div>
                    <div class="col-sm-9">
                        @Model.ReceivableDepositAmount.ToString("C2")
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <div class="col-sm-3">
                        Remaining paid:
                    </div>
                    <div class="col-sm-9">
                        @Model.ReceivableRemainingAmount.ToString("C2")
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="form-group">
                    <div class="col-sm-3">
                        Total paid:
                    </div>
                    <div class="col-sm-9">
                        @ViewBag.TotalPaid.ToString("C2")
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group">
                    <div class="col-sm-3">
                        (including Tax:
                    </div>
                    <div class="col-sm-9">
                        @((ViewBag.TotalPaid * 0.2f).ToString("C2")) )
                    </div>
                </div>

            </div>*@

                            @*<p>
                                    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
                                    @Html.ActionLink("Back to List", "Index")
                                </p>
                            *@
                        </Section>
                        <br />
                        @{ if (Model.BookingDeposit > 0 && Model.BookingStatus != "Cancelled")
                            {
                                <a href="@Url.Action("New", "BookingViewModels")" class="btn btn-success btn-block" style="width:200px"> Proceed to pay >> <i class="fa fa-angle-right"></i></a>
                            }
                            if ((Model.BookingCancellationFee > 0 && Model.BookingDeposit < Model.BookingCancellationFee) /*|| (Model.BookingDeposit > 0 && Model.BookingStatus == "Cancelled")*/)
                            {
                                <a href="@Url.Action("New", "BookingViewModels")" class="btn btn-success btn-block" style="width:250px"> Proceed to pay cancellation fee >> <i class="fa fa-angle-right"></i></a>
                            }

                            @*if (Model.BookingDeposit > 0 && Model.BookingStatus == "Cancelled")
                                {
                                    <a href="@Url.Action(NewBookingPaymentCancel", "BookingViewModels")" class="btn btn-success btn-block" style="width:200px"> Confirm to Cancel >> <i class="fa fa-angle-right"></i></a>
                                }*@

                        }
                    </Section>
